// Theme color ##LIGHT##
@STRONG_THEME_COLOR_LIGHT: #019e48;
@GLASS_LIGHT: rgba(#e8e8e8, 80%);

@CONTENT_COLOR_A: #6c6c6c;
@CONTENT_COLOR_B: #888888;
@CONTENT_COLOR_C: #e8e8e8;

@LINK_COLOR: #e99d42;

html {
  font-size: 18px;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
